.btn.btn-primary.mr-4{
    justify-content: space-between;
    margin: 0 100px 0 250px; 
}
.col-lg-12{
    margin: 0 0 50px 0;

}
.btn.btn-info.mr-2{
    margin: 0 10px 0 0;

}
.home {
    display: flex;
    align-items: flex-start; /* Align items to the start of the flex container */
}

/* Style for the content next to AdminAccountSideBar */
.home-content {
    margin-left: 20px; /* Adjust the margin to create space between sidebar and content */
    flex: 1; /* Allow the content to take up remaining space */
    display: flex; /* Enable flexbox layout for .home-content */
    flex-direction: column; /* Set flex direction to column for vertical alignment */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

/* Optional: Add styles for individual elements within the content */
.home h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.home p {
    font-size: 16px;
    margin-bottom: 20px;
}
