/* .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.button-container .btn {
    margin-left: 50px; 
    padding: 8px 80px; 
} */
.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.button-container .btn {
    margin-left: 20px; /* Adjusted space between buttons */
    padding: 10px 80px; /* Adjusted padding to ensure same width and height */
}

.update-button {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    padding: 10px 80px; /* Adjusted padding to ensure same width and height */
    margin-right: 20px; /* Add right margin */
}

.update-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.update-button:disabled {
    opacity: 0.5; /* Reduce opacity for disabled state */
    cursor: not-allowed; /* Change cursor for disabled state */
}
