.photoAlbum {
    font-family: Arial, sans-serif;
    width: 80%;
    margin-left: 200px;
    /* margin: 0 auto; */
}

.photoAlbum form {
    margin-bottom: 20px;
}

.photoAlbum label {
    display: block;
    margin-bottom: 10px;
}

.photoAlbum input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.photoAlbum button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.photoAlbum button:hover {
    background-color: #0056b3;
}

.photoAlbum div {
    margin-top: 20px;
}

.photoAlbum h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.photoAlbum p {
    margin-bottom: 5px;
}

.photoAlbum .eventCard {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.photoAlbum .eventCard h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.photoAlbum .eventCard p {
    margin-bottom: 5px;
}
