.allAlbums {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.actions .view-button {
    margin-right: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    background-color: #009e15;
    color: #fff;
    border-radius: 3px;
    text-decoration: none; /* Remove underline */
}

.actions .edit-button {
    margin-right: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
    text-decoration: none; /* Remove underline */
}

.actions .delete-button {
    margin-right: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    background-color: #ff0000;
    color: #fff;
    border-radius: 3px;
    text-decoration: none; /* Remove underline */
}

.actions .view-button:hover{
    background-color: #009e15;
}

.actions .edit-button:hover {
    background-color: #0056b3;
}


.actions .delete-button:hover {
    background-color: #b30000;
}

.button-link {
    text-decoration: none; /* Remove underline for link */
    color: #fff; /* Set color for link */
}

.add-button {
    background-color: #4CAF50;
    border: none; 
    color: white; 
    padding: 8px 16px; /* Adjust padding to make the button smaller */
    text-align: center; 
    text-decoration: none;
    display: inline-block; 
    font-size: 14px; /* Decrease font size for a smaller button */
    border-radius: 8px;
}

.button-margin {
    margin-right: 20px; /* Increase margin-right to add more space */
}

.editAlbumContainer {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.editAlbumTitle {
    text-align: center;
}

.currentAlbumUrls {
    margin-bottom: 20px;
}

.addNewUrls input[type="text"] {
    width: calc(100% - 100px);
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.addUrlButton {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.successMessage {
    color: green;
}

.errorMessage {
    color: red;
}



