.blogBody{
    margin: 50px 200px 200px 200px;;
}

.blogBody img{
    width: 200;
    height: 200;
    object-fit: cover;
}

.blog1{
    display: flex;
    justify-content: space-between;
}

.blogContent1{
    margin-left: 50px;
}

.blog2{
    display: flex;
    justify-content: space-between;
}

.blogContent2{
    margin-left: 50px;
}

.blog3{
    display: flex;
    justify-content: space-between;
}

.blogContent3{
    margin-left: 50px;
}

.blog4{
    display: flex;
    justify-content: space-between;
}

.blogContent4{
    margin-left: 50px;
}